OVERPASS_INTERPRETER_URL={{ monitoring_interpreter_url }}
OVERPASS_MAX_LAG_SECONDS={{ monitoring_max_lag_seconds }}
ONEUPTIME_HEARTBEAT_URL={{ monitoring_heartbeat_url }}
ONEUPTIME_HEARTBEAT_FAIL_URL={{ monitoring_heartbeat_fail_url }}
